::-webkit-scrollbar {
  background-color: rgba(154, 220, 255, 0.2);
  width: 6px;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(0, 63, 97, 0.2);
}

::-moz-placeholder {
  color: #789;
}

::placeholder {
  color: #789;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: #123;
  --yellow: #FFF89A;
  --blue: #9ADCFF;
  --shadow: #345;
  transition: 0.2s, 0 padding;
}

html, body {
  width: 100%;
  height: 100%;
}

body {
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
  padding: 75px 0 0 0;
}

header {
  position: fixed;
  top: 0;
  z-index: 4;
  max-width: 1000px;
  background-color: #fff;
}

header, nav, ul {
  width: 100%;
  height: 60px;
}

header ul {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  list-style: none;
  padding: 0 20px;
  gap: 5px;
}
header ul * {
  display: flex;
  height: 100%;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 20px;
}
header ul #logo {
  width: auto;
  height: 40px;
  cursor: pointer;
  image-rendering: pixelated;
}
header ul #logo img {
  height: 30px;
}

main {
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  max-width: 1000px;
  height: 100%;
  gap: 20px;
}

section, div {
  display: flex;
  width: 100%;
  height: 90%;
  gap: 10px;
}

#about {
  padding: 0 20px;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}
#about #description {
  flex-flow: column;
  justify-content: center;
  text-align: justify;
  width: 100%;
  gap: 30px;
}
#about #description h2 {
  font-size: 4vw;
  font-weight: bolder;
}

#search_bar_container {
  width: 100%;
  padding: 0 20px;
  height: auto;
}
#search_bar_container #search_bar {
  height: auto;
}

#form {
  height: auto;
  display: flex;
  width: 100%;
  padding: 0 20px;
  flex-flow: column;
  justify-content: center;
  align-items: flex-start;
}
#form form {
  height: 0;
  overflow: hidden;
}
#form form.click {
  height: auto;
}

#books_container {
  flex-flow: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0 20px;
  gap: 20px;
}
#books_container #books {
  display: flex;
  flex-flow: row wrap;
  gap: 30px;
}
#books_container .book {
  display: flex;
  width: 120px;
  min-height: 200px;
  height: 200px;
  border-radius: 20px 10px 10px 20px;
  overflow: hidden;
  background: rgb(120, 14, 32);
  cursor: pointer;
}
#books_container .book img {
  position: relative;
  width: 102.5px;
  height: 160px;
  transform: translateX(17.5px);
}
#books_container .book:after, #books_container .book:before {
  position: absolute;
  content: "";
  display: block;
  width: 110px;
  height: 20px;
  background: linear-gradient(to bottom, #aaa, #fff);
  border-radius: 20px 0 0 20px;
  transform: translateY(170px) translateX(10px);
  z-index: 2;
}
#books_container .book:before {
  width: 120px;
  height: 40px;
  transform: translateY(160px) translateX(0px);
  border-radius: 20px 0 10px 20px;
  z-index: 1;
  background: rgba(0, 0, 0, 0.4);
}
#books_container .mark {
  position: absolute;
  width: 25px;
  height: 50px;
  background-color: green;
  z-index: 3;
  -webkit-clip-path: path("M 0 0 L 0 50 L 12.5 40 L 25 50 L 50 0 L 0 0 Z");
          clip-path: path("M 0 0 L 0 50 L 12.5 40 L 25 50 L 50 0 L 0 0 Z");
  transform: translateX(80px) translateY(175px);
}/*# sourceMappingURL=style.css.map */